

<h1>
    Welcome {{ user.username | title }}! 
   Your email {{ user.email }} is now verifed!! 
</h1>

{% for user in users %}<hr />
<li> {{ user.username | title }} <a href="{% url 'delete_user' user.id %}" type="submit">Delete {{ user.username | title }}<a/></li><hr />
{% endfor %}<br />


<form method="post" action="{% url 'welcome' user.id %}">    
    {% csrf_token %}
    <button href="{% url 'delete_user' user.id %}" type="submit">Delete {{ user | title }}<button/><br/><br/>
    <a href="{% url 'welcome' user.id %}" type="submit">Cancel<a/><br/><br/>
</form>
