<html>
  <head>
    <title>Mailer</title>
  </head>
  <body>
      <div class="card-title py-3">
          <h4>Mailer API</h4>
        </div>

        <form action="{% url 'send_email' %}" method="post">
        {% comment %} <form action="send_email" method="post"> {% endcomment %}

          {% csrf_token %}

          <div class="form-group">
            <label>Sender Name:</label><br />
            <input
              type="text"
              name="sender_name"
              placeholder="Enter sender name"
              id="sender_name"
              class="form-control form-control-sm" 
              required/>
          </div>

          <div class="form-group">
            <label>Sender Email:</label><br />
            <input
              type="email"
              name="sender_email"
              placeholder="Enter sender email"
              id="sender_email"
              class="form-control form-control-sm" 
              required/>
          </div>

          <div class="form-group">
            <label>Receiver Name:</label><br />
            <input
              type="text"
              name="to_name"
              placeholder="Enter receiver name"
              id="to_name"
              class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>Receiver Email:</label><br />
            <input
              type="email"
              name="to_email"
              placeholder="Enter receiver email"
              id="to_email"
              class="form-control form-control-sm" 
              required/>
          </div>

          <div class="form-group">
            <label>Subject:</label><br />
            <input
              type="text"
              name="subject"
              placeholder="Enter the message title"
              id="subject"
              class="form-control form-control-sm" 
              required/>
          </div>

          <div class="form-group">
            <label>Message:</label><br />
            <input
              type="text"
              name="message"
              placeholder="Enter the message title"
              id="message"
              class="form-control form-control-sm">
              {% comment %} <textarea
              type="text"
              name="message"
              placeholder="Enter the message title"
              id="message"
              class="form-control form-control-sm">
            </textarea> {% endcomment %}
          </div>

          <input 
          type="submit" 
          value="Send" 
          class="btn btn-block btn-primary submit-btn" 
          />
        </form>
</body>

</html>

