
<style>
    h3 {
      color: red;
    }
</style>
  
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<h2>Login</h2>

<form method="post" action="{% url 'login' %}">    
    {% csrf_token %}

    <label for="text">Username:</label>
    <input type="text" name="username" id="username" placeholder="Enter your username" required><br><br>
    <label for="email">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required><br><br>
    <input type="submit" value="Login">
</form>
